
head, body, footer {
    font-family: 'Raleway', sans-serif ;
}

/*logo*/
#logo {
    position: relative;
    size: 100%;
    width: 10 em; 
 
    
    
}

/*background vid*/

#bgvid {
    position: absolute;
    height: auto;
    width: auto;
    opacity: 0.1;
}


/*Slider Images*/

#acc-image {
    width: 100%;
    height: 300px;
   
    
}

/*Intro custom styling*/

#introelements {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#intro.wrapper.style1 {
    background-color: lightslategray;
}

.content {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} 

#two {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
} 

#three {
    padding-bottom: 150px
}
    
#modelimage {
    padding-bottom: 25px;
}

/*Sidebar Stylings*/

.inner {
    color: lightsteelblue;
}

#footer > .inner .menu {
    color: lightsteelblue;
}